.dx-datagrid-search-panel {  
    margin-left: 0px;  
} 
.dx-toolbar .dx-texteditor {  
    width: 100%!important;  
}  

.dx-toolbar .dx-toolbar-after {  
    padding-left: 0px;  
    width: 100%!important;  
}  