<dx-data-grid #dataGrid
    (pagingChange)="onPagingChanged($event)" 
    [dataSource]="dataSource"
    [columns]="columns"
    [remoteOperations]="{paging:true, sorting: true, filtering: true}">
    <dxo-paging></dxo-paging>
    <dxo-pager 
    visible="true"
    [allowedPageSizes]="[2,20,50]"
    displayMode="full"
    showInfo="true"
    showNavigationButtons="true"
    showPageSizeSelector="true"
    >
    </dxo-pager>
    <dxo-search-panel  [visible]="true"></dxo-search-panel>
</dx-data-grid>

