.volume-control {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  &:hover .bar,
  .bar:focus {
    pointer-events: all;
    width: 100px;
    margin-right: 1em;
  }

  .icon {
    position: relative;
  }

  .bar {
    width: 0;
    overflow: hidden;
    pointer-events: none;
  }
}
