.playlist-image{
    height: 100px;
    width: 100px;
    margin-right: 10px; 
    border-radius: 10px;
}

.description{
    font-size: 1rem;
    padding-top: 10px;
}

.video{
    padding: 10px;
}

.video:hover{
    background-color: #e9e9e9;
}

.img{
  height: auto;
  width: auto;
  max-width: 160px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //border-radius: 25px;
  border: 1px solid lightgray;
  background-color: #fff;
  
}

::ng-deep .img,
::ng-deep .name {
  display: inline-block;
  vertical-align: middle;
}