    <app-lazy-tab-panel (selectedItemChange)="onSelectedItemChange($event)" [inputItems]="inputItems" [creatorId]="model?.creator?.id">
        <div *appTemplate="'watch'">
            <div class="parent">
                <div class="div1 mt-4" *ngIf="model">
                    <app-video-player [video]="model"></app-video-player>
                    <div class="details">
                        <div class="p-2 pb-1 dx-card mx-auto w-100">
                            <div class="d-flex flex-row justify-content-between flex-wrap ">
                              <h4 class="my-auto">{{ model.name}}</h4>
                                <a [routerLink]="['/user',model.creator.id]" class="text-decoration-none">
                                  <div class="creator-img-container">
                                    <img class="img-fluid" [src]="model.creator.thumbnailImage">
                                  </div>
                                  <div class="card-body text-center text-wrap">
                                    <strong>{{ model.creator.name ?? 'Unknown' }}</strong>
                                  </div>
                                </a>
                            </div>
                          </div>
                          <p class="pt-1 m-2">{{ model.description }}
                        </p>
                    </div>
                    </div>
               
                <app-playlist-player class="mx-auto mt-4 h-auto" [getRoute]="getRoute" [getMethod]="getMethod" [currentVideo]="model" ></app-playlist-player>
                </div>
              </div>
        <div *appTemplate="'edit'">
            <app-video-update  [inputModel]="model"></app-video-update>
        </div>
    </app-lazy-tab-panel>


