::ng-deep .image,.image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    box-shadow: 0 0 3px 3px white inset;
  }
  .dx-scrollable-content{
    display: flex;
  }
