<div class="sidebar">
    <div class="groups">
        <strong>Groups</strong>
        <ul class="mt-2">
            <!-- <li *ngFor="let group of groups"><a [routerLink]="['/group',group.id]">{{group.groupName }}</a></li> -->
            <li>Test playlist 1</li>
            <li>Test playlist 2</li>
            <li>Test playlist 3</li>
            <li>Test playlist 4</li>
            <li>Test playlist 5</li>
            <li>Test playlist 6</li>
            <li>Test playlist 7</li>
            <li><a [routerLink]="['/groupcreate']"><i class="bi bi-plus"></i> Create new group</a></li>
        </ul>
    </div>
</div>