<main class="component-title">
    <h4>Create you own playlist</h4>
    <form (submit)="onSubmit($event)">
        <dx-form [formData]="playlistModel">
            <dxi-item dataField="name" [isRequired]="true"/>
            <dxi-item dataField="description" [template]="'descriptionTemplate'"/>
            <div *dxTemplate="let data of 'descriptionTemplate'">
                <dx-text-area [(value)]="data.component.option('formData')[data.dataField]"></dx-text-area>
            </div>
            <dxi-item dataField="image">
                <dx-file-uploader dialogTrigger="#upload" #fileUploader uploadMode="useForm"
                        [accept]="acceptedFileTypes"
                        multiple="false"
                        [selectButtonText]="'Select image'"
                        (onValueChanged)="onFileSelected($event)"></dx-file-uploader>
                </dxi-item>
                    <dxi-item itemType="button" [buttonOptions]="submitButtonOptions" onClick="onSubmit($event)"></dxi-item>
        </dx-form>
    </form>
</main>