<div class="container mb-5" *ngIf="!IsOneCol">
  <app-search-bar (searchClicked)="onSearch($event)"></app-search-bar>
</div>

<div *ngIf="!isLoading && videos && videos.length === 0">No videos found.</div>
<div *ngIf="isLoading" class="text-center">
  <dx-load-indicator [height]="60" [width]="60"> </dx-load-indicator>
</div>
<div class="container" *ngIf="videos">

  <!--
    <div class="row gx-5 gy-4 row-cols-1 row-cols-md-3 row-cols-lg-4">
  -->

  <div [class]="rowClasses">
    <div *ngFor="let video of videos" class="col position-relative">
      <div class="pic-container">
        <img class="rounded my-1 w-100" crossorigin="anonymous" [src]="video.indexImage" />
        <div class="bottom-right">{{ fromatVideoDuration(video.duration) }}</div>
      </div>
      <div class="text-truncate" [title]="video.name">

        <!--
          <a
          [routerLink]="['video', 'watch', video.id]"
          class="h5 my-1 stretched-link text-decoration-none text-reset"
          >{{ video.name }}</a
        >
        -->

        <a
          [routerLink]="'/video/watch/' + video.id"
          class="h5 my-1 stretched-link text-decoration-none text-reset"
          >{{ video.name }}</a
        >

      </div>
    </div>
  </div>
</div>
