/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px 8px;
}

.pic-container {
  position: relative;
  text-align: center;
  color: white;
}
