
  <div [id]="'context_'+item.id" class="card" [style.width.px]="300">
    <a class="text-decoration-none" [routerLink]="contextNavigation?[]:['/group',item.id]">
    <div class="card-body h-auto d-flex flex-column justify-content-between">
        <div class="d-flex flex-row justify-content-end">
          <span>{{item.totalMembersCount}}</span>
          <i class="dx-icon-user"></i>
      </div>
      <div class="d-flex flex-row">
        <img
        [style.width.px]="90"
        [style.height.px]="90"
        [src]="item.thumbnailImage"
        [alt]="item.name"
        class="rounded-star my-auto img-responsive"
        draggable="false"
      />
      <div class="my-auto mx-auto text-center d-block text-truncate w-100">
        <strong>{{ item.name }}</strong>
      </div>
    </div>
      </div>
     
  </a>
    <div class="d-flex card-footer justify-content-evenly">
      <small class="my-auto text-muted">{{ item.creationTime | date : 'yyyy.MM.dd' }}</small>
      <div class="d-block text-truncate">
        <a class="text-decoration-none" [routerLink]="contextNavigation&&item.creator?[]:['/user',item.creator.id]"><small><strong> {{ item.creator?.name }} </strong></small></a>
      </div>
    </div>
  </div>


  <dx-context-menu *ngIf="contextNavigation" [target]="'#context_'+item.id" [items]="contextItems">
    <div *dxTemplate="let i of 'item'">
      <a [routerLink]=i.link  target="_blank" class="text-decoration-none" >
        {{i.text}}
      </a>
    </div>
  </dx-context-menu>