<app-lazy-tab-panel
  *ngIf="model"
  [inputItems]="inputItems"
  [(selectedIndex)]="selectedIndex"
  [creatorId]="model?.creator?.id"
>
  <div *appTemplate="'members'" class="d-flex flex-row">
    <div
      class="dx-card d-flex flex-column w-25 p-3"
    >
    <a class="text-decoration-none" [routerLink]="['/user',model.creator.id]">
      <div class="creator dx-card d-flex justify-content-evenly p-1 flex-wrap">
        <strong class="my-auto">{{model.creator.name}}</strong>
        <img class="img-fluid" [src]="model.creator.thumbnailImage">
      </div>
    </a>
      <div class="mx-auto">
        <img class="group-image img-fluid" [src]="model.image" />
      </div>
      <div class="d-block text-wrap text-center text-truncate">
        <h6>{{ model.name }}</h6>
      </div>
     
      <dx-scroll-view [style.height]="'40vh'">

          <div class="mb-4 d-flex flex-row flex-wrap justify-content-center">
            <div *ngFor="let item of model.emailDomains" class="badge dx-theme-text-color-as-background-color m-1 text-wrap text-break">
              <span class="dx-button-text">
                {{item}}
              </span>
            </div>
          </div>
      
        <span class="text-justify text-wrap h-auto h-50 text-center">
          {{ model.description }} 
        </span>
      </dx-scroll-view>
    
    </div>
    <app-scroll-view [height]="height" class="w-75">
      <app-drop-down-search>
        <app-user-search></app-user-search>
      </app-drop-down-search>
      <app-scroll-view-data-source
        [allowSelection]="false"
        [getMethod]="getMethod"
      ></app-scroll-view-data-source>
      <app-scroll-view-contents>
        <app-user-contents></app-user-contents>
      </app-scroll-view-contents>
    </app-scroll-view>
  </div>
  <div *appTemplate="'edit'">
    <app-group-update
      (submitted)="onSubmitted($event)"
      (deleted)="onDeleted()"
      [inputModel]="model"
    ></app-group-update>
  </div>
</app-lazy-tab-panel>
