<div class="d-flex flex-row" *ngIf="model">
  <div
    class="dx-card d-flex flex-column justify-content-center w-25 align-top p-3"
    [style.height.px]="600"
  >
    <div
      class="dx-card d-flex flex-column justify-content-center w-35 align-top p-3"
      [style.height.px]="600"
    >
      <div class="mx-auto">
        <img class="group-image" [src]="model.image" />
      </div>
      <div class="text-wrap h-auto h-50 text-center mb-5">
        <h6>{{ model.name }}</h6>
      </div>
      <dx-scroll-view [height]="200">
        <span class="text-justify text-wrap h-auto h-50 text-center">
          {{ model.description }}
        </span>
      </dx-scroll-view>
      <div class="text-wrap h-auto h-50 text-center">
        <p>Email domains:</p>
        <p *ngFor="let item of model.emailDomains">{{ item }}</p>
      </div>
    </div>
  </div>

  <app-lazy-tab-panel
    [inputItems]="inputItems"
    [(selectedIndex)]="selectedIndex"
    [creatorId]="model?.creator?.id"
  >
    <div *appTemplate="'members'">group details works</div>
    <div *appTemplate="'edit'">
      <app-group-update
        (submitted)="onSubmitted($event)"
        (deleted)="onDeleted()"
        [inputModel]="model"
      ></app-group-update>
    </div>
  </app-lazy-tab-panel>
</div>
