<div *ngIf="selected" class="row dx-card p-1">
  <div   class="selected container col justify-content-center d-flex">
      <div class="image my-auto" [style.width.px]="itemWidth" [style.height.px]="itemHeight" [style.background-image]="'url('+selected+')'">
  </div>
  </div>
  <div  class="col mx-auto" [style.maxWidth]="'75%'">
    <dx-tile-view
    class="p-2 "
    [direction]="'horizontal'"
    [baseItemHeight]="itemHeight"
    [baseItemWidth]="itemWidth"
    [height]="height"
    (onItemClick)="onItemClick($event)"
  >
  <dxi-item class="my-auto" *ngFor="let item of indexImages; index as i">
    <div class="image"  [style.background-image]="'url('+item+')'">
      
    </div>
  </dxi-item>
  </dx-tile-view>
  </div>
</div>
