<div [style.height.px]="150" class="card w-75 flex-row mx-auto px-2">
  <img class="card-img-left example-card-img-responsive my-auto" [src]="item.thumbnailImage" />
  <div class="card-body d-flex row mx-auto">
    <div class="col my-auto card-title h4-sm justify-content-center d-flex">
        <div>
            <a [routerLink]="['/group',item.id]"  class="link-primary">
              <h4 class="my-auto mr-5">{{ item.name }}</h4>
            </a>
            <span class="my-auto">{{ item.creationTime | date : 'yyyy.MM.dd' }}</span>
            <p class="card-text">{{ item.totalMembersCount }} member</p>
        </div>

    </div>
    <div class="col justify-content-end d-flex" *ngIf="item.creator">
        <div class="align-text-center">
            <p class="align-text-center"><strong>Creator</strong></p>
            <img draggable="false" [src]="item.creator.thumbnailImage" />
            <p class="mx-auto">{{ item.creator.name }}</p>
        </div>
    </div>
  </div>
</div>
