<app-scroll-view>
    <app-drop-down-search>
        <app-group-search></app-group-search>
    </app-drop-down-search>
    <app-group-data-source></app-group-data-source>
    <!--<app-drop-down-search [inputItems]="inputItems">
        <div *appTemplate="'name';let context">
            <app-text-search-item [searchItem]="context"></app-text-search-item>
        </div>
        <div *appTemplate="'creationTime';let context">
            <app-date-search-item [searchItem]="context"></app-date-search-item>
        </div>
    </app-drop-down-search> -->
    <app-scroll-view-contents>
        <app-group-contents></app-group-contents>
    </app-scroll-view-contents>
</app-scroll-view>