<form (submit)="onSubmit($event)">
    <dx-form [formData]="model">
            <dxi-item dataField="name" [isRequired]="true"></dxi-item>
            <dxi-item dataField="description" editorType="dxTextArea"></dxi-item>
    </dx-form>
    <div class="d-flex flex-row">
        <div class="w-25">
            <app-user-pagination-grid [selectedItems]="selectedUsers" [showId]="false" [showCreationTime]="false">
            </app-user-pagination-grid>
        </div>
        <div class="w-25">
            <dx-text-box [(value)]="newEmailDomain"></dx-text-box>
            <dx-button (click)="addNewEmailDomain()">Add</dx-button>
            <dx-list  height="200px" [dataSource]="model.emailDomains" allowItemDeleting=true itemDeleteMode="swipe">
            </dx-list>
        </div>
    </div>
    <dx-button onClick="onSubmit($event)"></dx-button>
</form>     