<div class="component-title">
  <h4>Create a group</h4>
  <form (submit)="onSubmit($event)">
    <dx-form [formData]="model" [labelLocation]="'left'">
      <dxi-item dataField="name" [isRequired]="true" />
      <dxi-item dataField="description" [template]="'descriptionTemplate'" />
      <div *dxTemplate="let data of 'descriptionTemplate'">
        <dx-text-area [(value)]="data.component.option('formData')[data.dataField]"></dx-text-area>
      </div>
      <dxi-item dataField="emailDomains">
        <div *dxTemplate="let data">
          <dx-tag-box
            [(value)]="data.component.option('formData')[data.dataField]"
            acceptCustomValue="true"
          >
          </dx-tag-box>
        </div>
      </dxi-item>
      <dxi-item dataField="image">
        <div *dxTemplate="let data">
          <app-image-uploader
            [name]="data.dataField"
            [(value)]="data.component.option('formData')[data.dataField]"
            [defaultImgUrl]="defaultImgUrl"
          ></app-image-uploader>
        </div>
      </dxi-item>
      <dxi-item dataField="members">
        <div *dxTemplate="let data">
          <app-scroll-view-selector-popup
            [title]="'Edit Members'"
            [icon]="'edit'"
            [text]="'edit'"
            [(value)]="data.component.option('formData')[data.dataField]"
          >
            <app-scroll-view-selector
              [contextId]="inputModel?.id"
              [getInitialSelection]="getInitialSelection"
            >
              <app-user-explore
              [filteredKeys]="[currentUserId]"
              ></app-user-explore>
            </app-scroll-view-selector>
          </app-scroll-view-selector-popup>
        </div>
      </dxi-item>
      <dxi-item
        itemType="button"
        [buttonOptions]="submitButtonOptions"
        onClick="onSubmit($event)"
      ></dxi-item>
    </dx-form>
  </form>
</div>
{{ modelToJson() }}
