<form (submit)="onSubmit($event)">
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">
            Group Details
        </div>
        <div class="dx-field">
            <div class="dx-field-label" >Name</div>
            <div class="dx-field-value">
                <dx-text-box [(value)]="model.name" maxLength="100">
                    <dx-validator>
                        <dxi-validation-rule type="required"/>
                        <dxi-validation-rule type="stringLength" [min]="3"/>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Description</div>
            <div class="dx-field-value">
                <dx-text-area [(value)]="model.description" maxLength="1000" height="300">
                    <dx-validator>
                        <dxi-validation-rule type="stringLength" [max]="1000"/>
                    </dx-validator>
                </dx-text-area>
            </div>
        </div>
        <app-image-uploader (imageFileChanged)="onImageChanged($event)"></app-image-uploader>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">
            Members
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Email Domains</div>
            <div class="dx-field-value">
                <dx-tag-box  [(value)]="model.emailDomains" acceptCustomValue="true" >
                </dx-tag-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Specific Users</div>
            <div class="dx-field-value">
                <app-user-pagination-grid [(selectedItems)]="model.members"
                    [showId]="false"
                                         />
            </div>
        </div>
    </div>
    <dx-button text="Create" [useSubmitBehavior]="true"></dx-button>
</form>     
{{modelToJson()}}