<form  (submit)="onSubmit($event)">
    <dx-form 
    [formData]="startVideoUpload">
        <dxi-item dataField="name" [isRequired]="true"></dxi-item>
        <dxi-item dataField="description" [template]="'descriptionTemplate'"></dxi-item>
        <div *dxTemplate="let data of 'descriptionTemplate'">
            <dx-text-area [(value)]="data.component.option('formData')[data.dataField]"></dx-text-area>
        </div>
        <dxi-item>
            <dx-file-uploader #fileUploader uploadMode="useForm" multiple="false"></dx-file-uploader>
        </dxi-item>
        <dxi-item itemType="button" [buttonOptions]="submitButtonOptions" onClick="onSubmit($event)"></dxi-item>
    </dx-form>
    <dx-button>Hello</dx-button>
</form>

<div class="mt-3">
    <dx-progress-bar [value]="progress" max="1"></dx-progress-bar>
    <p>
       <em> {{ log?.message }} </em>
    </p>
</div>
