.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin: 2em 2em 0 2em;

  .col-videos {
    background: #DDDDDD;
  }
}
