<div class="container">
  <div class="video-app">
    <div class="video-player">
      <app-video-wrapper [video]="video"></app-video-wrapper>
      <app-control-bar></app-control-bar>
    </div>
  </div>
  <div *ngIf="video !== undefined">
    <h4>Name: {{ video.name }}</h4>
    <h5>Description: {{ video.description }}</h5>
    <h6>Id: {{ video.id }}</h6>
    <h6>Duration: {{ video.duration }}</h6>
    <h6>CreationTime: {{ video.creationTime | date : 'short' }}</h6>
    <div>
      <h5>Resolutions</h5>
      <div *ngFor="let item of video.hlsResolutions">
        <strong>{{ item.width }}x{{ item.height }}:</strong> {{ item.hlsList }}
      </div>
    </div>
  </div>

  <div></div>
</div>
