<div class="card p-2">
        <h6 class="card-title">
            Format
        </h6>
        <div class="card-body">
            <div class="card-text d-flex flex-column">
                <span>file name: {{info?.fileName}}</span>
                <span>size: {{info?.size}}</span>
                <span>duration: {{info?.duration}}</span>
                <span>format: {{ info?.formatName }}</span>
                <span>format-long: {{info?.formatLongName}}</span>
                <span>bit-rate: {{info?.bitRate}}</span>
            </div>
        </div>
        <div>
            <h6 class="card-title">
                Video
            </h6>
            <div class="card-body">
                <div class="card-text d-flex flex-column">
                    <span>resolution: {{info?.video?.width}} {{info?.video?.height}}</span>
                    <span>duration: {{ info?.video?.duration }}</span>
                    <span>frames: {{info?.video?.frames}}</span>
                    <span>codec-name: {{info?.video?.codecName}}</span>
                    <span>codec-tag: {{info?.video?.codecTag}}</span>
                    <span>bit-rate: {{info?.video?.bitRate}}</span>
                </div>
            </div>
        </div>
        <div>
            <h6 class="card-title">
                Audio
            </h6>
            <div class="card-body">
                <div class="card-text d-flex flex-column">
                    <span>duration: {{ info?.audio?.duration }}</span>
                    <span>frames: {{info?.audio?.frames}}</span>
                    <span>codec-name: {{info?.audio?.codecName}}</span>
                    <span>codec-tag: {{info?.audio?.codecTag}}</span>
                    <span>bit-rate: {{info?.audio?.bitRate}}</span>
                </div>
            </div>
        </div>
</div>
