<div class="d-flex flex-row" *ngIf="model">
  <app-lazy-tab-panel
    class="w-100"
    [(selectedIndex)]="selectedIndex"
    [creatorId]="id"
    [inputItems]="inputItems"
  >
    <div *appTemplate="'videos'" class="d-flex flex-row">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
      <app-scroll-view class="w-75" [height]="height">
        <app-drop-down-search>
          <app-video-search></app-video-search>
        </app-drop-down-search>
        <app-video-data-source [creatorId]="id"></app-video-data-source>
        <app-scroll-view-contents>
          <app-video-contents></app-video-contents>
        </app-scroll-view-contents>
      </app-scroll-view>
    </div>
    <div *appTemplate="'playlists'" class="d-flex flex-row">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
      <app-scroll-view class="w-75" [height]="height">
        <app-drop-down-search>
          <app-playlist-search></app-playlist-search>
        </app-drop-down-search>
        <app-playlist-data-source [creatorId]="id"></app-playlist-data-source>
        <app-scroll-view-contents>
          <app-playlist-contents></app-playlist-contents>
        </app-scroll-view-contents>
      </app-scroll-view>
    </div>
    <div *appTemplate="'groups'" class="d-flex flex-row">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
      <app-scroll-view class="w-75" [height]="height">
        <app-drop-down-search>
          <app-group-search></app-group-search>
        </app-drop-down-search>
        <app-group-data-source [creatorId]="id"></app-group-data-source>
        <app-scroll-view-contents>
          <app-group-contents></app-group-contents>
        </app-scroll-view-contents>
      </app-scroll-view>
    </div>
    <div *appTemplate="'edit'">
      <app-user-update
        (submitted)="onSubmitted($event)"
        [inputModel]="model"
      ></app-user-update>
    </div>
    <div *appTemplate="'administration'">
      <app-administration></app-administration>
    </div>
  </app-lazy-tab-panel>

</div>
<ng-template #profile>
  <div class="dx-card d-flex flex-column w-25 p-3">
    <div class="mx-auto">
      <img class="user-image" [src]="model.image" />
    </div>
    <div class="d-block text-truncate w-100 mb-4">
      <strong class="my-auto  mx-auto h5">{{ model.name }}</strong>
    </div>
    <dx-scroll-view [style.height]="'40vh'">
      <span class="text-justify text-break">
        {{ model.aboutMe }}
      </span>
    </dx-scroll-view>
  </div>
</ng-template>
