<div>
    <div>
        <h4>SOURCE</h4>
        <dx-file-uploader showFileList="false" readyToUploadMessage="" (onValueChanged)="onFileChanged($event)" uploadMode="useForm">
        </dx-file-uploader>
    </div>
    <div>
        <h4>INPUT</h4>
        <video #inputDisplay controls>
        </video>
    </div>
    <div >
        <h4>FFMPEG</h4>
            <dx-text-box [disabled]="input==undefined" valueChangeEvent="keyup" [(value)]="command" label="Command"></dx-text-box>
            <dx-select-box  [disabled]="input==undefined"  label="Output format" [dataSource]="outputFormats" (onValueChanged)="onFormatChanged($event)">
            </dx-select-box>
            <p>
                <em>
                    {{ getCommand() }}
                </em>
            </p>
            <dx-button [disabled]="input==undefined" (onClick)="transcode()">Transcode</dx-button>
    </div>
    <div>
        <h4>PROGRESS & LOG</h4>
        <p> <b>{{ progress*100| number: '1.0' }}% </b> {{ message }}</p>
    </div>
    <div>
        <h4>OUTPUT</h4>
        <video #outputDisplay controls></video>
    </div>



</div>
